@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .cardText {
        @apply p-3 bg-sky-900 text-white rounded-b-lg;
    }
}

@layer components {
    .btnCategory {
        @apply bg-sky-900 hover:bg-sky-700 active:bg-sky-900;
    }
}

@layer components {
    .btnNum {
        @apply col-span-1 row-span-1 bg-sky-800 rounded-lg text-white px-8 py-5 flex justify-center items-center md:text-3xl hover:bg-sky-600 active:bg-sky-900;
    }
}

@layer components {
    .btnOpt {
        @apply col-span-1 row-span-1 rounded-lg px-5 md:text-2xl bg-sky-800 hover:bg-sky-600 active:bg-sky-900 text-white flex justify-center items-center;
    }
}

@layer components {
    .btnPrint {
        @apply bg-sky-800 hover:bg-sky-600 active:bg-sky-900 py-3 px-6 rounded-lg flex text-2xl justify-center items-center sm:max-xl:w-full xl:w-full;
    }
}

@layer components {
    .btn {
        @apply mx-2 p-2 text-white rounded-lg;
    }
}

@layer components {
    .card {
        @apply text-black bg-white rounded-lg;
    }
}

@layer components {
    .h-boxCard {
        height: 755px;
    }
}

@layer components {
    body {
        font-family: 'Poppins';
    }
}
@layer components {
    .h-modal {
        height: 796px;
    }
}

@layer components {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        background-color: #dc2626;
    }
}